.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  nav {
    display: flex;
    flex-direction: column;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 8px;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    background-color: #555;
  }
  