/* Updated styles scoped to the specific page */

.page-container .sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.page-container nav {
  display: flex;
  flex-direction: column;
}

.page-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page-container li {
  padding: 12px;
  text-align: center;
  transition: background-color 0.3s;
}

.page-container a {
  text-decoration: none;
  color: white;
  display: block;
}

.page-container a:hover {
  background-color: #555;
}

.page-container li:not(:last-child) {
  border-bottom: 1px solid #333;
}

.page-container li.active {
  background-color: #555;
}
